pyenv/
esercizi_laboratorio/derivazione/__pycache__/
esercizi_laboratorio/gittata_cannone_medioevale/__pycache__/
esercizi_laboratorio/integrazione/__pycache__/
esercizi_laboratorio/pendolo_doppio/__pycache__/
esercizi_laboratorio/seno_sviluppo/__pycache__/
esercizi_laboratorio/util/__pycache__/
esercizi_laboratorio/profilo_temperatura/__pycache__/
